<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <h2>{{ student.name }}</h2>
    <section>
        <form method="POST">
            {% csrf_token %}
            <select name="course">
                {% for course in notRegisteredCourses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Course">
        </form>
        
        <ul>
            {% for course in student.courses.all %}
                <li>{{ course.name }}</li>
            {% endfor %}
        </ul>
    </section>

    <p><a href="{% url 'students' %}">Add Student</a></p>
    <p><a href="{% url 'courses' %}">Add Course</a></p>
</body>
</html>
